:root {
    --cognac-100: #FFDA9F;
    --cognac-500: #FF7300;
    --cognac-700: #DA3B00;
    --cognac-800: #AB2E00;
    --puerto-rico-100: '#D0F7ED';
    --puerto-rico-200: #9FF0DA;
    --puerto-rico-400: #37C8AB;
    --puerto-rico-500: #21AB96;
    --puerto-rico-700: #176E63;
}

.tituloModal {
    color: #DA3B00;
    font-size: 1.6em;
    font-weight: 400;
    /* font-family: Lexend; */
}

.tituloModalOutline {
    color: #176E63;
    font-size: 1.6em;
    font-weight: 400;
    /* font-family: Lexend; */
}

.botonFooterModal {
    border: 1px solid #DA3B00;
    background-color: #DA3B00;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    padding: .5em 2em;
    transition: all .3s ease;
}

.botonNuevaCita {
    border: 1px solid #DA3B00;
    background-color: #DA3B00;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    padding: .5em 4em;
    transition: all .3s ease;
}

.botonFooterModal:hover,
.botonNuevaCita:hover {
    background-color: #FF7300;
    border: 1px solid #FF7300;
}

.botonOutline{
    border: 1px solid #DA3B00;
    background-color: white;
    font-weight: bolder;
    color: #DA3B00;
    border-radius: 7px;
    padding: .5em 4em;
    transition: all .3s ease;

}

.botonOutline:hover{
    border: 1px solid #DA3B00;
    background-color: #DA3B00;
    color: white;
    border-radius: 7px;
    padding: .5em 4em;
}

.botonRecibir{
    border: 1px solid #176E63;
    background-color: white;
    font-weight: bolder;
    color: #176E63;
    border-radius: 7px;
    padding: .5em 4em;
    transition: all .3s ease;

}

.botonRecibir:hover{
    border: 1px solid #176E63;
    background-color: #176E63;
    color: white;
    border-radius: 7px;
    padding: .5em 4em;
}

.botonRecibirOutline{
    border: 1px solid #176E63;
    background-color: #176E63;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    padding: .5em 4em;
    transition: all .3s ease;
}

.botonRecibirOutline:hover {
    background-color: #21AB96;
    border: 1px solid #21AB96;
}

.containerPagina {
    width: 84vw;
    margin: 2.5em 1.8em;
}

.tituloPagina {
    color: #DA3B00;
    font-weight: 600;
}

.subtituloPagina {
    color: #DA3B00;
    font-weight: 400;
}

.botonInputModal {
    background-color: #9FF0DA;
    border-color: #9FF0DA;
    color: black;
    transition: all .3s ease;
}

.botonInputModal:hover {
    background-color: #37C8AB;
    border-color: #37C8AB;
    color: black;
}

.lista {
    list-style: none;
}

.lista-horizontal {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-horizontal li {
    margin-right: 20px;
}

.breadcrumb-icono {
    color: #21AB96;
}

.cardFicha {
    border-color: #DA3B00;
}

.content {
    width: 100vw;
}

.cardInfo {
    background-color: #D0F7ED;
    border-radius: 7px;
    padding: 1em;
    margin: 1em 0;
    width: 60%;
}

.swal2-popup {
    border: 1px solid var(--puerto-rico-700);
}

/**
 * Estilos para Tabla
 */
/* Estilo para la tabla en general */
.table-container {
    background-color: #9FF0DA;
    border: 1px solid #66d1bc;
    border-radius: 0.3em;
    color: black;
    transition: all 0.3s ease;
    table-layout: auto;
    width: 100%;
}

.table-container th {
    background-color: #166F61;
    color: white;
}

.table-container th:first-child {
    border-radius: 4px 0 0 0;
}

.table-container th:last-child {
    border-radius: 0 4px 0 0;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #dff8f1;
}

.table-container tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

.table-container tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.table-container tbody tr {
    transition: all 0.3s ease;
    cursor: pointer;
}

.table-container tbody tr:hover td {
    background-color: #d8fff41e;
    color: black;
}


.table-container tbody td {
    border: transparent;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #9FF0DA;
}

.table-container tbody tr:nth-child(even) {
    background-color:#D0F7ED;
}

.table-container tbody tr:hover td {
    background-color: inherit; /* Mantén el color original */
    color: inherit; /* Mantén el color original */
}

.pagination-button.current {
    background-image: linear-gradient(rgba(38, 150, 133, 0.05), rgba(38, 150, 133, 0.1));
    border: 1px solid #66d1bc;
    background-color: #ffffff;
    color: black;
    transition: all 0.3s ease;
}

.pagination-button.current:active {
    box-shadow: inset 0 0 5px #176E63;
}


.tabla-articulos {
    width: 63%;
    border-collapse: separate; /* Importante para que el border-radius funcione */
    border-spacing: 5px; /* Elimina espacios entre celdas */
    border: none; /* Borde general de la tabla */
    border-radius: 12px; /* Redondear toda la tabla */
    overflow: hidden; /* Evita que las celdas sobresalgan de la tabla */
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;

}

/* Encabezados */
.tabla-articulos th {
    background-color: #FFBD62;
    text-align: center;
    padding: 12px;
    border: 1px solid #FFBD62;
}

/* Celdas */
.tabla-articulos td {
    background-color: #FFDA9F;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

.tabla-articulos tbody tr:nth-child(even) td {
    background-color: white; /* Color para filas pares */
    color: black;
}

/* Alternar colores */
.tabla-articulos tbody tr:nth-child(odd) td {
    background-color: #FFDA9F;
    color: black;
}


