:root {
    --cognac-100: #FFDA9F;
    --cognac-500: #FF7300;
    --cognac-700: #DA3B00;
    --cognac-800: #AB2E00;
    --puerto-rico-200: #9FF0DA;
    --puerto-rico-400: #37C8AB;
    --puerto-rico-500: #21AB96;
    --puerto-rico-700: #176E63;
    --jungle-green-800: #036251;
}

.tituloModal {
    color: #DA3B00;
    font-size: 1.6em;
    font-weight: 400;
    /* font-family: Lexend; */
}

.botonFooterModal {
    border: 1px solid #DA3B00;
    background-color: #DA3B00;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    padding: .5em 2em;
    transition: all .3s ease;
}

.botonNuevaCita {
    border: 1px solid #DA3B00;
    background-color: #DA3B00;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    padding: .5em 4em;
    transition: all .3s ease;
}

.botonFooterModal:hover,
.botonNuevaCita:hover {
    background-color: #FF7300;
    border: 1px solid #FF7300;
}



.containerPagina {
    width: 84vw;
    margin: 2.5em 1.8em;
}

.tituloPagina {
    color: #DA3B00;
    font-weight: 600;
}

.subtituloPagina {
    color: #DA3B00;
    font-weight: 400;
}

.botonInputModal {
    background-color: #9FF0DA;
    border-color: #9FF0DA;
    color: black;
    transition: all .3s ease;
}

.botonInputModal:hover {
    background-color: #37C8AB;
    border-color: #37C8AB;
    color: black;
}

.lista {
    list-style: none;
}

.lista-horizontal {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-horizontal li {
    margin-right: 20px;
}

.breadcrumb-icono {
    color: #21AB96;
}


